/* common */
body {
  padding-top: 80px;
}

.wrapper_60 {
  width: 60%;
  margin: 0 auto;
}

h1 {
  font-size: 3em;
}
h2 {
  font-size: 2.6em;
}
h3 {
  font-size: 2em;
}
p {
  font-size: 1.3em;
}
.label_txt {
  margin-top: 5px;
  margin-bottom: 0;
  font-size: 1.3em;
  font-weight: normal;
}
.white_txt {
  color: white;
}
.bold_txt {
  font-weight: 700;
}

.btn_green {
  color: white;
  border: 1px solid #1ABC9C;
  background-color: #1ABC9C;
  transition: all .5s ease-in-out;
}
.btn_green:hover {
  color: #1ABC9C;
  border: 1px solid #1ABC9C;
  background-color: white;
}
.btn_light {
  color: white;
  border: 1px solid white;
  transition: all .5s ease-in-out;
}
.btn_light:hover {
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
}
.btn_light:focus {
  color: white;
}

/* star icon */
.fa-star {
  padding: 10px 20px;
  vertical-align: middle;
}
.icon_wrapper {
  display: inline-block;
  text-align: center;
}
.icon_wrapper::before,
.icon_wrapper::after {
  content: '';
  display: inline-block;
  height: 3px;
  vertical-align: middle;
}
.black_wrapper::before,
.black_wrapper::after {
  width: 7em;
  background-color: black;
}
.white_wrapper::before,
.white_wrapper::after {
  width: 7em;
  background-color: white;
}
.large_wrapper::before,
.large_wrapper::after {
  width: 8.5em;
}

/* HEADER */
/* navbar */
#logo,
#links > li > a {
  height: 80px;
  line-height: 50px;
}
#logo {
  pointer-events: none;
}

#navbar {
  border: none;
  background-color: #2c3e50;
}
#navbar #logo,
#navbar #links > li > a {
  color: white;
}
#navbar #links > li > a {
  transition: color .5s ease-in-out;
}
#navbar #links > li > a:hover {
  color: #1ABC9C;
}
#links .active a{
  background-color: #3A546D;
}

#navbar button {
  margin-top: 23px;
  margin-bottom: 23px;
}
#navbar button:hover {
  border-color: #1ABC9C;
  background-color: transparent;
}
#navbar button:hover .icon-bar {
  background-color: #1ABC9C;
}
#navbar button:focus {
  background-color: #2c3e50;
}


/* jumbotron */
#jumbotron {
  background-color: #1ABC9C;
  padding: 40px 0;
}
.avatar {
  width: 200px;
}

/* MAIN */
/* portfolio section */
#portfolio {
  padding-top: 50px;
  padding-bottom: 30px;
}
.portfolio_img {
  position: relative;
  margin-bottom: 30px;
  border-radius: 10px;
  background-color: #1ABC9C;
}
.portfolio_img img {
  opacity: 1;
  transition: .5s ease;
  border-radius: 10px;
  backface-visibility: hidden;
}
.plus {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  transition: .5s ease-in-out;
  opacity: 0;
  color: white;
}

.portfolio_img:hover img {
  opacity: 0.4;
  cursor: pointer;
}

.portfolio_img:hover .plus {
  opacity: 1;
  cursor: pointer;
}

/* about section */
#about {
  padding: 30px 0;
  background-color: #1ABC9C;
}
#about a {
  margin-top: 20px;
}
.fa-download {
  padding-right: 5px;
}

/* contact section */
#contact {
  padding: 30px 0 40px 0;
}
.no_margin .form-group {
  margin: 0;
}
[for*="message"] {
  margin-top: 20px;
}
.no_brd {
  width: 100%;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid lightgrey;
}
.no_brd:hover {
  border-color: #1ABC9C;
}
/* FOOTER */
#footer_top {
  padding: 30px 0;
  background-color: #3A546D;
}
.address {
  font-size: 1.4em;
}
.bootstrap {
  color: #1ABC9C;
}
#social_list li {
  height: 40px;
  width: 40px;
  padding: 10px;
  margin: 0 5px;
  border: 1px solid white;
  border-radius: 50%;
  transition: all .5s ease-in-out;
}
#social_list li:hover {
  border: 1px solid #1ABC9C;
  color: #1ABC9C;
  cursor: pointer;
}

#footer_bottom {
  height: 80px;
  line-height: 80px;
  background-color: #2c3e50;
}

/* MEDIA */
/* xs */
@media screen and (max-width: 767px) {

  h1 {
    font-size: 2.2em;
  }
  h2 {
    font-size: 1.8em;
  }
  h3 {
    font-size: 1.2em; 
  }
  #about p {
    font-size: 1.2em;
  }
  #jumbotron p {
    font-size: 1.1em;
  }
  .label_txt {
    font-size: 1.5em;
  }
  .address,
  .feature {
    font-size: 1.2em;
  }

  #portfolio {
    padding-bottom: 10px;
  }

  #about {
    padding: 20px 0;
  }

  #contact {
    padding: 10px 0;
  }
  
  .icon_wrapper::before,
  .icon_wrapper::after {
    width: 4em;
    padding: 0 5px;
  }
  .fa-star {
    padding: 10px 5px;
  }
}

/* sm */
@media screen and (min-width: 768px) {

  h3 {
    font-size: 1.5em;
  }
  .address,
  .feature {
    font-size: 1.2em;
  } 

  #portfolio {
    padding: 30px 0;
  }
}

