/* debug */
.container,
.container-fluid,
.row {
  height: 100%;
}

[class*="col-"] {
  background-color: red;
  height: 100%; 
  border: 1px solid white;
}

body {
  text-align: center;
}
h2 {
  margin: 0;
}

/* header */
#header_nav {
  background-color: #2c3e50;
  height: 100px;
}

#jumbotron {
  height: 400px;
  background-color: #1ABC9C;
}

/* main */
#portfolio {
  margin-bottom: 100px;
}
#portfolio [class*="col-"] {
  height: 200px;
}

#about {
  padding: 0 200px;
  background-color: #1ABC9C;
}
#about [class*="col-"] {
  height: 300px;
}

#contact {
  padding: 0 200px;
} 
#contact [class*="col-"] {
  height: 400px;
}

/* footer */
footer {
  height: 250px;
}

#footer_top {
  background-color: #3A546D;
  height: 180px;
}
#footer_top [class*="col-"] {
  height: 60px;
}

#footer_bottom {
  height: 70px;
  background-color: #2c3e50;
}

/* media */
@media screen and (max-width: 768px) {

  #about,
  #contact {
    padding: 0 50px;
  }

}

@media screen and (min-width: 768px) {

  #footer_top [class*="col-"] {
    height: 100%;
  }

}

